#my-home-logged{
  
.debug-don{
    // border: 1px solid white;
    width: 100%;
    height: 400px;
    margin: 0 auto;
}
.debug-lin{
    // border: 1px solid white;
    margin-top: 20px;
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.debug-rad{
    // border: 1px solid white;
    width: 100%;
  height: 100%
}
.alerts{
    width: 100%;
    height: 100%;
    border: 1px solid white;
}
}